#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

#inner{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border: 1px solid;
}

#outer{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 1px solid;
}

#myDiv{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
}

#myPlayground{
    background-color: brown;
    width: 100px;
    height: 100px;
    position: relative;
}